html{
    font-size:1rem;
    color:black;
    font-family: 'Rock Salt', cursive;
}
fieldset{
    width:300px;
    margin:auto;
}

h1{
    text-align:center;
    color:palevioletred;

}
legend{
    color:purple;
    font-size:1.5em;
}

button{
    background-color:purple;
    color:white;
  
}
p{
    font-size:0.6rem;
    color:palevioletred;
}
#preis{
    font-size:1.5rem;
    margin:auto;
  
 }

@media screen and (min-width:450px){
    fieldset{
        width:300px;
        margin:auto;
}
}
@media screen and (min-width:700px){
    fieldset{
        width:500px;
        margin:auto;
}
}
@media screen and (min-width : 1224px){
    fieldset{
        width:800px;
        margin:auto;
}
}