html{
    color:black;
    font-size: 1.5rem;
}

canvas{
    float: left;
}

#einstellungen{
    
    display: inline-block;
    padding-left: 40px;
}


h1{
    text-align:center;
    font-size:2rem;
    color:white;
    text-decoration: underline;
}


button{
    width: 90px;
    height: 60px;
    border-style: groove;
    
    
    border-radius: 10em;
    background-color: transparent;
    border: 2px solid black;
    color: black;
}